AUTH_SECRET=
NEXTAUTH_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_ISSUER=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

ALLOWED_EMAIL_DOMAINS=powerway.jp,company.co.jp
AUTO_CREATE_PROFILE=true
DEFAULT_ADMIN_EMAIL=
LOCAL_ADMIN_EMAIL=admin@local.internal
